.MainInput {
  height: 40px;
  display: flex;
  position: absolute;
  margin-top: 20px;
  width: 200px;
  left: 20px;

  border-radius: 8px;
  transition: all 0.35s;
  /* z-index: 500;
  top: 920px; */
}

.MainInput input {
  padding-left: 0;
  /* width: 240px; */
  width: 0;
  border: 0;
  outline: none;
  font-weight: bold;
  color: #1a1a1a;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  /* z-index: 500; */
}

.MainInput input.searchInput {
  width: 240px;
  padding-left: 14px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.35);
}

.MainInput input:focus {
  outline: none;
  background: #f7b7b3;
  border-color: #1a1a1a;
}

.MainInput button {
  max-width: 100px;
  border: 0;
  font-weight: bold;
  background-color: white;
  border-left: 1px solid lightgrey;
  cursor: pointer;
  transition: all 1s;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.MainInput button:hover {
  background-color: #1a1a1a;
  color: #f7b7b3;
  border: 1px solid white;
}
.icon:hover {
  color: #f7b7b3 !important;
}
